@import "variables";

.team-container {
  padding: 0 30px;
  margin: auto;
  max-width: 2000px;
}

h1 {
  font-weight: 600;

  small {
    font-weight: 300;
  }
}

h2,
h3,
h4 {
  font-weight: 400;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 80px;
}

.btn {
  min-width: 150px;
}

.listing .btn-group-vertical {
  margin-top: 15px;
}

.member {
  text-align: center;
  margin: 3pt auto;
  min-height: 720px;
  margin-bottom: 47px;
  perspective: 800px;
  position: relative;
  max-width: 400px;

  h3 {
    font-weight: 600;
    color: $member-name-color;
    font-size: 23px;
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    color: $color-gray;
    margin-bottom: 0;
    margin-top: 15px;

    a {
      color: $color-gray;
    }
  }

  h5 {
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    color: $color-gray;
    margin: 0;
    margin-bottom: 15px;

    a {
      color: $color-gray;
    }
  }

  ul {
    list-style: none;
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
  }

  li,
  a {
    color: $color-gray;
    font-size: 14px;
  }

  p {
    text-align: justify;
  }

  img {
    margin-top: 35px;
    border-radius: 150px;
    filter: grayscale(100%);
  }
}

.bio {
  padding: 15px;
}

.card {
  border-radius: 6px;
  width: 100%;
  background: $color-white;
  box-shadow: 0 3px 3px $member-shadow-color;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;

  figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .front {
    background: $color-white;
  }
}

.pet {
  min-height: 380px;
}

.team-head {
  text-align: center;
  max-width: 550px;
  margin: 50px auto;

  p {
    font-size: 17px;
    color: $team-content-color;
  }

  h1 {
    font-weight: 200;
  }
}

.social {
  margin-bottom: 15px;

  a {
    padding: 4px;
    text-decoration: none;
  }

  i {
    font-size: 31px;
    color: $member-social-color;
    transition: all .2s;

    &:hover {
      color: $color-primary;
    }
  }

  .gitlab-logo {
    width: 25px;
    height: 25px;
    transition: all .2s;

    &:hover * {
      fill: $color-primary;
    }
  }
}

.teleport-thing {
  margin-top: 50px;
}
